<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		<link rel="stylesheet" href="/public/css/ionicons.min.css">
  		<link rel="stylesheet" href="/public/css/AdminLTE.min.css">
  		<link rel="stylesheet" href="/public/css/skins/skin-blue.min.css">
		<link rel="stylesheet" href="/public/css/morris.css">
		<link rel="stylesheet" href="/public/css/jquery-jvectormap-1.2.2.css">
	</head>
	<body class="hold-transition skin-blue sidebar-mini">
		<div id="app">Loading...</div>

		<!-- REQUIRED JS SCRIPTS -->
		<script src="/public/js/jquery-2.2.3.min.js"></script>
		<script src="/public/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="/public/js/morris.min.js"></script>
		<script src="/public/js/jquery.sparkline.min.js"></script>
		<script src="/public/js/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="/public/js/jquery-jvectormap-world-mill-en.js"></script>
		<script src="/public/js/jquery.knob.js"></script>
		<!-- <script src="/public/js/Chart.min.js"></script> -->

		<script src="/public/js/app.js"></script>
	</body>
</html>
