/* Begin variable */
$product-thumb-width: 100%;
$product-thumb-height: 100%;
$box-shadow-color: #8f8f8f;

/* Begin style declaration */
.product-image-container {
	position: relative;
}

.productThumbnail {
	width: $product-thumb-width;
	height: $product-thumb-height;
	&:hover {
		// opacity: 0.5;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		-webkit-box-shadow: 0px 0px 5px 0px $box-shadow-color;
		box-shadow: 0px 0px 5px 0px $box-shadow-color;
	}
}

button {
	&.edit-btn {
		margin-top: 10px;
	}
}

div.price-floating {
	position: absolute;
	background-color: #000000;
	opacity: 0.6;
	right: 4px;
	bottom: 4px;
	padding: 10px;
	border-radius: 5px 0px 0px 0px;
}
